/* sobre =================== */
#sobre {
  position: absolute;
  background-color: #050505;
  overflow: hidden;
}

#sobre .image {
  margin-bottom: 3rem;
}

#sobre .image img {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 100%;

  box-shadow: 19px 19px 30px #1818182d, -19px -19px 30px #2020201f;

  animation: move 3s ease-in-out infinite;
}

#sobre .content header h2 {
  font-size: 4rem;
  color: var(--color-text);
  text-align: left;
}

#sobre .content .text {
  text-align: left;
}

#sobre .content .text p {
  font-weight: 300;
  color: #6e6e6e;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

#sobre .content .text p span {
  font-weight: 600;
}

#sobre .content .text ul {
  margin-top: 3rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: start;
  text-align: left;
}

#sobre .content .text ul li {
  font-size: 1.4rem;
  color: #9b9b9b;
  list-style: disc;
  font-weight: 400;

  font-family: "Poppins", sans-serif;
}

#sobre .content .text a {
  text-decoration: none;
  color: var(--color-text);
}

#sobre .content .text a button {
  font-family: "Poppins", sans-serif;

  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: transparent;
  outline: 1px solid var(--color-text);
  color: var(--color-text);
  font-weight: 700;
  border: none;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  transition: all 200ms ease-in-out;
}

#sobre .content .text a button:hover {
  background-color: var(--color-text);
  color: #111111;
  box-shadow: 5px 5px 10px #000;
  cursor: pointer;
}

#sobre .content .text a button:hover ion-icon {
  color: #111111;
  animation: moveicon 2s ease-in-out infinite;
}

#sobre .content .text a button ion-icon {
  color: var(--color-text);
  font-size: 2rem;
}

@media (min-width: 1080px) {
  section#sobre {
    background-color: #000;
  }

  section#sobre .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    padding-left: 6%;
  }

  section#sobre .image img {
    width: 70%;
  }

  section#sobre .content header h2 {
    text-align: left;
  }

  section#sobre .content .text {
    text-align: left;
  }
}

@keyframes move {
  50% {
    transform: translateY(10px);
  }
}

@keyframes moveicon {
  50% {
    transform: translateX(5px);
  }
}
